* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
  display: none;
}

header {
  margin: 0 auto;
  max-width: 90%;
  padding: 1.5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

header input {
  max-width: 80%;
  margin-right: 0.5rem;
  flex-grow: 1;
  padding: 0 0.5rem;
}

header button {
  padding: 0.4rem;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.all-notes {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.new-note-form form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.new-note-title,
.new-note-text {
  padding: 0.2rem;
  flex-grow: 1;
}

.save-new-note {
  padding: 0.2rem;
}

.note {
  height: auto;
  min-width: 18rem;
  padding: 1rem;
  border: 2px solid black;
  background-color: lightgrey;
}

.note button {
  padding: 0.2rem;
}

.note-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.note-body {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.4;
  word-wrap: break-word;
  max-width: 90%;
}
